body {
  background-color: rgb(222, 222, 222);
  font: 400 1em/1.38 'Open Sans';
  color: rgb(0, 0, 0);
}

.comment {
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  min-height: 91px;
  border-bottom: 2px solid rgb(77, 77, 77);
  background-color: rgba(141, 55, 55, 0);
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.comments {
  position: absolute;
  top: 672px;
  left: 42%;
  z-index: 24;
  width: 53.6666666666%;
  height: 480px;
  border-radius: 5px;
  background-color: rgb(222, 222, 222);
}

.container_all_com {
  position: relative;
  top: -726px;
  left: 42%;
  z-index: 53;
  width: 53.6666666666%;
  height: 480px;
  border: 2px solid rgb(77, 77, 77);
  overflow-y: auto;
}

.container_comment {
  position: relative;
  left: 0;
  width: 100%;
  height: 121px;
  border-top: 2px solid rgb(77, 77, 77);
  border-radius: 3px;

}

.container_comment .h2 {
  top: 93px;
  left: 79.4982531055%;
  width: 20.3416149068%;
  min-height: 28px;
  font-size: 1em;
  line-height: 1.7;
  text-align: right;
}

.element_footer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: rgb(24, 24, 24);
}

.element_header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100px;
  background-color: rgb(43, 43, 43);
}

.element_movie {
  position: relative;
  float: left;
  z-index: 13;
  width: 100%;
  height: 1399px;
  border-radius: 5px;
  background-color: rgb(234, 248, 255);
}

.footer {
  position: absolute;
  top: 1499px;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100px;
}

.h1 {
  position: absolute;
  top: 36px;
  right: 17.4947916666%;
  z-index: 15;
  width: 329px;
  min-height: 71px;
  font-size: 1.875em;
  text-align: center;
  color: rgb(134, 206, 57);
}

.h2 {
  position: absolute;
  color: rgb(0, 0, 0);
}

.header {
  position: relative;
  float: left;
  width: 100%;
  height: 100px;
}

.image {
  display: block;
  position: absolute;
  height: auto;
  overflow: hidden;
}

.imager {
  display: block;
  position: absolute;
  height: auto;
  overflow: hidden;
}

.imager:hover {
  height: 33px;
  width: 33px;
}

.logo {
  position: absolute;
  top: 14px;
  left: 0.3567708333%;
  z-index: 4;
  width: 193px;
  min-height: 65px;
  font: 2.75em/1.68 Oswald;
  text-align: center;
  letter-spacing: 3px;
  color: rgb(255, 255, 255);
}

.movie {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 54;
  width: 100%;
  height: 1399px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.08);
}

.search {
  display: block;
  position: absolute;
  top: 39px;
  left: 24.20703125%;
  z-index: 5;
  width: 31.0507812499%;
  height: 32px;
  padding: 0 10px;
  border-radius: 5px;
  background-color: rgb(242, 242, 242);
  font-size: 1em;
  font-weight: 300;
  color: rgb(0, 0, 0);
}

.text_footer {
  position: absolute;
  top: 26px;
  left: 37.6666666666%;
  z-index: 1;
  width: 294px;
  min-height: 45px;
  font-size: 1em;
  font-weight: 300;
  line-height: 3;
  text-align: center;
  color: rgb(255, 255, 255);
}

._button {
  display: block;
  position: absolute;
  border-radius: 5px;
  background-color: rgb(222, 222, 222);
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

._button:hover {
  background-color: rgb(94, 94, 94);
}

._select {
  display: block;
  position: absolute;
  top: 39px;
  left: 59.015625%;
  z-index: 6;
  width: 54px;
  height: 32px;
  padding-left: 10px;
  border-radius: 3px;
  background: rgb(222, 222, 222);
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  color: rgb(0, 0, 0);
}

._select:hover {
  background-color: rgb(94, 94, 94);
}

._textarea {
  display: block;
  position: absolute;
  top: 1200px;
  left: 42.0859375%;
  z-index: 35;
  width: 53.67%;
  height: 91px;
  padding: 5px;
  border: 1px solid rgb(77, 77, 77);
  border-radius: 5px;
  background-color: rgb(242, 242, 242);
  font-family: Helvetica;
  font-size: 1em;
  color: rgb(0, 0, 0);
  resize: none;
}

.header ._button {
  height: 32px;
  font-weight: 600;
}

.movie ._button {
  top: 1291px;
  left: 86.3684375%;
  z-index: 36;
  width: 127px;
  height: 33px;
  font-family: Helvetica;
}

.comment-1 {
  z-index: 51;
}

.comment-2 {
  z-index: 48;
}

.container_comment-1 {
  top: 117px;
  z-index: 52;
}

.container_comment-2 {
  top: -3px;
  z-index: 49;
}

.h2-22 {
  top: 670px;
  left: 4.15%;
  z-index: 15;
  width: 20px;
  font-size: 1.125em;
}

.h2-23 {
  top: 670px;
  left: 7%;
  z-index: 14;
  width: 20px;
  font-size: 1.125em;
}

.h2-24 {
  top: 670px;
  left: 9.75%;
  z-index: 13;
  width: 20px;
  font-size: 1.125em;
}

.h2-25 {
  top: 670px;
  left: 12.4%;
  z-index: 22;
  width: 20px;
  font-size: 1.125em;
}

.h2-26 {
  top: 670px;
  left: 15%;
  z-index: 22;
  width: 20px;
  font-size: 1.125em;
}

.h2-27 {
  top: 670px;
  left: 17.7%;
  z-index: 22;
  width: 20px;
  font-size: 1.125em;
}

.h2-28 {
  top: 670px;
  left: 20.25%;
  z-index: 22;
  width: 20px;
  font-size: 1.125em;
}

.h2-29 {
  top: 670px;
  left: 23%;
  z-index: 22;
  width: 20px;
  font-size: 1.125em;
}

.h2-30 {
  top: 670px;
  left: 25.6%;
  z-index: 22;
  width: 20px;
  font-size: 1.125em;
}

.h2-31 {
  top: 670px;
  left: 28%;
  z-index: 22;
  width: 20px;
  font-size: 1.125em;
}

.h2-1 {
  z-index: 50;
}

.h2-10 {
  top: 168px;
  left: 54.1041666666%;
  z-index: 27;
  width: 500px;
  min-height: 38px;
  font-size: 1em;
  border-bottom: 1px solid rgb(77, 77, 77);
}

.h2-11 {
  top: 120px;
  left: 54.1048177083%;
  z-index: 26;
  width: 500px;
  min-height: 38px;
  font-size: 1em;
  border-bottom: 1px solid rgb(77, 77, 77);
}

.h2-12 {
  top: 468px;
  left: 42%;
  z-index: 25;
  width: 53.6666666666%;
  min-height: 127px;
  font-family: Helvetica;
  font-size: 1em;
}

.h2-13 {
  top: 627px;
  left: 42.0026041666%;
  z-index: 23;
  width: 171px;
  min-height: 43px;
  font-size: 1.25em;
  font-weight: 600;
}

.h2-14 {
  top: 419px;
  left: 42%;
  z-index: 22;
  width: 115px;
  min-height: 38px;
  font-size: 1.125em;
  font-weight: 600;
}

.h2-15 {
  top: 370px;
  left: 42.0026041666%;
  z-index: 21;
  width: 115px;
  min-height: 38px;
  font-size: 1.125em;
  font-weight: 600;
}

.h2-16 {
  top: 322px;
  left: 42.0026041666%;
  z-index: 20;
  width: 115px;
  min-height: 38px;
  font-size: 1.125em;
  font-weight: 600;
}

.h2-17 {
  top: 264px;
  left: 42.0026041666%;
  z-index: 19;
  width: 115px;
  min-height: 38px;
  font-size: 1.125em;
  font-weight: 600;
}

.h2-18 {
  top: 216px;
  left: 42.0026041666%;
  z-index: 18;
  width: 115px;
  min-height: 38px;
  font-size: 1.125em;
  font-weight: 600;
}

.h2-19 {
  top: 168px;
  left: 42.0026041666%;
  z-index: 17;
  width: 115px;
  min-height: 38px;
  font-size: 1.125em;
  font-weight: 600;
}

.h2-2 {
  z-index: 47;
}

.h2-20 {
  top: 120px;
  left: 42.1012369791%;
  z-index: 16;
  width: 115px;
  min-height: 38px;
  font-size: 1.125em;
  font-weight: 600;
}

.h2-21 {
  top: 588px;
  left: 22.75%;
  z-index: 15;
  width: 80px;
  font-size: 1.125em;
}

.h2-3 {
  top: 559px;
  left: 15.6666666666%;
  z-index: 34;
  width: 90px;
  min-height: 39px;
  font-size: 2.75em;
  text-align: right;
  letter-spacing: 2px;
}

.h2-4 {
  top: 580px;
  left: 3.6%;
  z-index: 33;
  width: 87px;
  min-height: 39px;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 1px;
}

.h2-5 {
  top: 419px;
  left: 54.0455729166%;
  z-index: 32;
  width: 122px;
  min-height: 38px;
  font-size: 1em;
}

.h2-6 {
  top: 370px;
  left: 54.0455729166%;
  z-index: 31;
  width: 500px;
  min-height: 38px;
  font-size: 1em;
  border-bottom: 1px solid rgb(77, 77, 77);
}

.h2-7 {
  top: 322px;
  left: 54.0455729166%;
  z-index: 30;
  width: 500px;
  min-height: 38px;
  font-size: 1em;
  border-bottom: 1px solid rgb(77, 77, 77);
}

.h2-8 {
  top: 264px;
  left: 54.1041666666%;
  z-index: 29;
  width: 500px;
  min-height: 48px;
  font-size: 1em;
  border-bottom: 1px solid rgb(77, 77, 77);
}

.h2-9 {
  top: 216px;
  left: 54.1041666666%;
  z-index: 28;
  width: 500px;
  min-height: 38px;
  font-size: 1em;
  border-bottom: 1px solid rgb(77, 77, 77);
}

.image-11 {
  top: 36px;
  left: 3.603515625%;
  z-index: 14;
  width: 31.25%;
}

.image-1 {
  top: 635px;
  left: 3.6%;
  z-index: 37;
  width: 30px;
}

.image-2 {
  top: 635px;
  left: 6.2734374999%;
  z-index: 38;
  width: 30px;
}

.image-3 {
  top: 635px;
  left: 8.8984375%;
  z-index: 39;
  width: 30px;
}

.image-4 {
  top: 635px;
  left: 11.6067708333%;
  z-index: 40;
  width: 30px;
}

.image-5 {
  top: 635px;
  left: 14.2317708333%;
  z-index: 41;
  width: 30px;
}

.image-6 {
  top: 635px;
  left: 16.9401041666%;
  z-index: 42;
  width: 30px;
}

.image-7 {
  top: 635px;
  left: 19.5416666666%;
  z-index: 43;
  width: 30px;
}

.image-8 {
  top: 635px;
  left: 22.25%;
  z-index: 44;
  width: 30px;
}

.image-9 {
  top: 635px;
  left: 24.875%;
  z-index: 45;
  width: 30px;
}

.image-10 {
  top: 635px;
  left: 27.5846354166%;
  z-index: 46;
  width: 30px;
}

.header ._button-1 {
  top: 39px;
  left: 73.46640625%;
  z-index: 10;
  width: auto;
  padding: 0 10px;
}

.header ._button-2 {
  top: 39px;
  left: 65.4127604166%;
  z-index: 9;
  width: auto;
  padding: 0 10px;
}

.header ._button-3 {
  top: 18px;
  left: 82.32421875%;
  z-index: 8;
  width: auto;
  padding: 0 10px;
}

.header ._button-4 {
  top: 55px;
  left: 82.2994791666%;
  z-index: 7;
  width: auto;
  padding: 0 10px;
}

@media(max-width: 1010px) {
  .container_all_com .container_comment {
    left: -65.8603454969%;
    width: 131.9997088509%;
  }

  .header {
    position: relative;
    z-index: 11;
    background-color: rgb(242, 242, 242);
  }

  .header .element_header {
    left: -0.1904761905%;
    width: 100.1904761904%;
  }

  .header .logo {
    left: 0.3138020833%;
  }

  .header .search {
    left: 21.9205729166%;
    width: 21.37890625%;
  }

  .movie {
    left: -0.0015470298%;
    right: auto;
    width: 99.9984529702%;
  }

  .movie .element_movie {
    position: relative;
    z-index: 13;
  }

  .movie .h1 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .movie .image {
    height: auto;
  }

  .container_all_com .container_comment-1 {
    top: -659px;
  }

  .container_all_com .container_comment-2 {
    top: -779px;
  }

  .container_comment .h2-1 {
    width: 19.8853929384%;
  }

  .container_comment .h2-2 {
    width: 20.7040148063%;
  }

  .header ._button-3 {
    left: 83.3137376237%;
  }

  .header ._button-4 {
    left: 83.2626856435%;
  }
}

@media(max-width: 970px) {
  body {
    font-size: 1em;
  }

  .header {
    position: relative;
    z-index: 11;
  }

  .header .element_header {
    left: -0.1341145834%;
  }

  .header .logo {
    left: 0.2903645833%;
  }

  .header .search {
    left: 20.2513020833%;
    width: 19.75%;
  }

  .movie {
    left: -0.0016108248%;
    width: 100%;
  }

  .movie .element_movie {
    position: relative;
    z-index: 13;
  }

  .movie .h1 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .movie .image {
    height: auto;
  }

  .container_all_com .container_comment-1 {
    left: -63.2545613355%;
    width: 121.7488354037%;
  }

  .container_all_com .container_comment-2 {
    left: -63.2521350932%;
    width: 121.7512616459%;
  }

  .container_comment .h2-2 {
    width: 19.8853929384%;
  }

  .header ._button-3 {
    top: 23px;
    left: 102.1649484536%;
  }
}

@media(max-width: 855px) {
  .container_all_com .container_comment {
    width: 94.5919060559%;
  }

  .container_comment .h2 {
    width: 17.5256264236%;
  }

  .header {
    position: relative;
    z-index: 11;
  }

  .header .element_header {
    left: -0.1197916667%;
  }

  .header .logo {
    left: 0.2552083333%;
  }

  .header .search {
    left: 23.6823830409%;
    width: 17.4075520833%;
  }

  .movie .element_movie {
    position: relative;
    z-index: 13;
  }

  .movie .h1 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .movie .image {
    height: auto;
  }

  .container_all_com .container_comment-1 {
    left: -55.7598990684%;
  }

  .container_all_com .container_comment-2 {
    left: -55.7574728261%;
  }
}

@media(max-width: 766px) {
  body {
    font-size: 1em;
  }

  .container_comment .h2 {
    width: 15.7033029612%;
  }

  .header {
    position: relative;
    z-index: 11;
  }

  .header .element_header {
    left: -0.1067708334%;
    width: 100%;
  }

  .header .logo {
    top: 17px;
    left: 0.9010443864%;
    width: 144px;
    font-size: 2.25em;
  }

  .header .search {
    top: 32px;
    left: 24.7205450391%;
    width: 9.8333333333%;
  }

  .movie {
    width: 79.9995920365%;
  }

  .movie .element_movie {
    position: relative;
    z-index: 13;
  }

  .movie .h1 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .movie .image {
    height: auto;
  }

  .header ._select {
    width: 48px;
  }

  .container_all_com .container_comment-1 {
    left: -49.9563276398%;
    width: 75.9219720496%;
  }

  .container_all_com .container_comment-2 {
    left: -61.8400621119%;
    width: 60.7385481366%;
  }
}